@model SampleDeliveryService.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Azure Maps SDK -->
<script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.js"></script>
<link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/3/atlas.min.css" />

<h2>Create Order</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id"></label>
                <input asp-for="Id" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Packages"></label>
                <input asp-for="Packages" class="form-control" type="number" />
            </div>

            <div class="form-group">
                <label for="queryTbx">Search Address</label>
                <input id="queryTbx" class="form-control" placeholder="Type to search..." />
            </div>

            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" id="street_input" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" id="city_input" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="State"></label>
                <input asp-for="State" id="state_input" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" id="zip_input" class="form-control" readonly />
            </div>

            <input asp-for="Latitude" id="lat_input" class="form-control" hidden />
            <input asp-for="Longitude" id="lon_input" class="form-control" hidden />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div id="myMap" style="width:100%; height:500px;"></div>
    </div>
</div>

@section Scripts {
    <script>
        let map, marker, datasource;

        const geocodeUrlTemplate = 'https://atlas.microsoft.com/search/address/json?api-version=1.0&query={query}&language=en-US&lon={lon}&lat={lat}&countrySet=IN&view=Auto&subscription-key=1A2WqGbNPrXkvJ7fANu170nqymSUlZupgApmCxJi4iqyLyA8yW07JQQJ99BDACYeBjFjiS1pAAAgAZMP21L5';

        function GetMap() {
            map = new atlas.Map('myMap', {
                center: [73.8567, 18.5204], // Default to Pune
                zoom: 9,
                view: 'Auto',
                authOptions: {
                    authType: "subscriptionKey",
                    subscriptionKey: "1A2WqGbNPrXkvJ7fANu170nqymSUlZupgApmCxJi4iqyLyA8yW07JQQJ99BDACYeBjFjiS1pAAAgAZMP21L5"
                }
            });

            map.events.add('ready', function () {
                datasource = new atlas.source.DataSource();
                map.sources.add(datasource);

                // Setup autocomplete
                $("#queryTbx").autocomplete({
                    minLength: 3,
                    source: function (request, response) {
                        const center = map.getCamera().center;
                        const url = geocodeUrlTemplate
                            .replace('{query}', encodeURIComponent(request.term))
                            .replace('{lon}', center[0])
                            .replace('{lat}', center[1]);

                        fetch(url)
                            .then(res => res.json())
                            .then(data => response(data.results || []));
                    },
                    select: function (event, ui) {
                        const pos = ui.item.position;
                        const addr = ui.item.address;

                        // Update form fields
                        $("#street_input").val((addr.streetNumber || "") + " " + (addr.streetName || ""));
                        $("#city_input").val(addr.municipality || "");
                        $("#state_input").val(addr.countrySubdivisionName || "");
                        $("#zip_input").val(addr.postalCode || "");
                        $("#lat_input").val(pos.lat);
                        $("#lon_input").val(pos.lon);

                        // Remove previous marker
                        if (marker) map.markers.remove(marker);

                        marker = new atlas.HtmlMarker({
                            color: 'green',
                            position: [pos.lon, pos.lat]
                        });
                        map.markers.add(marker);

                        map.setCamera({
                            center: [pos.lon, pos.lat],
                            zoom: 15
                        });
                    }
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>").append("<div>" + item.address.freeformAddress + "</div>").appendTo(ul);
                };
            });
        }

        window.onload = GetMap;
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
